.products-section {
  padding-left: min(15rem, 9.5%);
  padding-right: min(15rem, 9.5%);
  @media (max-width: 700px) {
    padding-left: min(5rem, 6%);
    padding-right: min(5rem, 6%);
  }
  margin-top:10rem;
  margin-bottom:10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.products-section h3 {
  padding-bottom: 0.8rem;
}

.products-section .categories {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  overflow-x: auto;

  padding-left: 2rem;
  padding-right: 2rem;
  @media (max-width: 700px) {
    padding: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    .products-section .categories::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
    
  }
  margin-top: 2rem;
  margin-bottom: 4.5rem;
}

.categories div:first-child {
  margin-left: 1rem;
}

.categories div:last-child {
  margin-right: 1rem;
}