.hero {
  padding-left: min(15rem, 9.5%);
  padding-right: min(15rem, 9.5%);
  @media (max-width: 700px) {
    padding-left: min(5rem, 6%);
    padding-right: min(5rem, 6%);
  }

  margin-top: clamp(1rem, calc(4.5vw + 1rem), 3rem);
  margin-bottom: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.hero h1 {
  font-size: clamp(2.1rem, calc(3vw + 1rem), 3rem);
  line-height: 1;
  margin: 0;
}

.hero > :first-child {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.hero > :first-child p {
  width: 90%;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.opening-hours {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.opening-hours > * {
  display: flex;
  flex-direction: row;
}

.opening-hours img {
  width: 1rem;
  margin-right: 0.3rem;
}