.store-overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
  min-height: 80vh;
}

.store-overview  > :last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  width: 65%;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.store-overview .video-player-container {
  max-width: 250px !important;
  @media (max-width: 700px) {
    max-width: 98% !important;
  }
}
