.store-overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
  padding-left: min(15rem, 9.5%);
  padding-right: min(15rem, 9.5%);
  @media (max-width: 700px) {
    padding-left: min(5rem, 6%);
    padding-right: min(5rem, 6%);
  }
  margin: 2rem 0;
}

.store-overview h2 {
  font-size: clamp(1.5rem, calc(2.2vw + 1rem), 2.3rem);
}

.store-overview  > :last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  width: 65%;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.store-overview .video-player-container {
  max-width: 250px !important;
  @media (max-width: 700px) {
    max-width: 98%;
  }
}
