.contact-button {
  width: fit-content;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.9rem;
}

.contact-button a {
  width: 6rem;
  height: 6rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}

.contact-button a:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.contact-button img {
  width: 65%;
  height: auto;
  object-fit: cover;
}

.contact-button p {
  padding-top: 0.5rem;
}