.slick-dots {
  bottom: -3rem;
}

.slick-prev:before, .slick-next:before{
  color:var(--primary-text-color);
  top: 30% !important;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slick-next, .slick-prev {
  z-index: 2;
  top: 35%;
  @media (max-width: 700px) {
    display: none !important;
  }

}

.slider-container {
  width: 94%;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
