@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --main-bg-color: #FFFBFC;
  --primary-text-color: #4C364B;
  --secondary-text-color: #806B79;
  --accent-text-color: #CB3D98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

small {
  color: var(--secondary-text-color);
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-normal {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.accent-text {
  color: var(--accent-text-color);
}